<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My openings</title>

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- All other CSS-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"></link>

</head>
<body>
    <div id = "header" class="container mt-5">
        <h1>Time Slot Converter <i class="bi bi-info-circle ms-2 fs-5 text-info" data-bs-toggle="collapse" data-bs-target="#appInfo" aria-expanded="false" aria-controls="appInfo" ></i></h1>
        <div class="container">
            <!-- Div that will collapse or expand -->
            <div class="collapse" id="appInfo">
              <div class="card card-body">
                <p>
                Welcome to the <strong>Time Slot Converter!</strong> Setting up meetings can be a pain when your colleagues or clients live in different timezones, and we're here to help. <br><br>
                Enter the <i>date</i>, <i>time</i>, and <i>duration</i> of each time slot, and your openings will be added to a time slot table in a readable format. <br><br>
                Once you've added your first meeting, add a timezone with our timezone picker and your time slots will be displayed in additional timezones. <br><br>
                Remove a time slot or timezone at any time!
                </p>
              </div>
            </div>
          </div>
    </div>
    <div id = "form-container" class="container mt-4">
        <form id="add-opening-form">
        <!-- Date picker input field -->
        <label for="start-date">Choose a date:</label>
        <input type="text" id="start-date" class="form-control mb-3">
        <input type="hidden" id="submitted-date" name="submitted-date" />

        <!-- Time picker input field -->
        <label for="start-time">Choose a time:</label>
        <input type="text" id="start-time" class="form-control mb-3">
        <input type="hidden" id="submitted-time" name="submitted-time" />

        <!-- Duration input field -->
        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" class="form-control mb-3">

        <div id="first-time-message">
            <div id="first-time-message-green">
                <p>1. Enter the date, time, and duration of a time slot</p>
                <p>2. Click "Add time slot"</p>
                <p>3. Add additional time slots or timezones to the table</p>
                <p>4. Remove time slots or timezones as needed!</p>
            </div>
            <div id="first-time-message-red">
                <p><strong>Removed time slots must be added back through the form!</strong></p>
                <p><strong>Clearing the time slot table cannot be undone!</strong></p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add time slot</button> 
    </form>
    </div>

    <div id = "timezone-container" class="container mt-5">
    </div>

    <div id="table-container" class="container mt-5">

        <!-- Table -->
        <table id="openings-table" class="table">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    </body>

    <!-- Flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>

    <!-- All other Javascript-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>